<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlRenderer.Core" version="1.5.0.6" targetFramework="net471" />
  <package id="HtmlRenderer.WinForms" version="1.5.0.6" targetFramework="net471" />
  <package id="Serilog" version="2.9.0" targetFramework="net461" />
  <package id="Serilog.Sinks.Debug" version="1.0.1" targetFramework="net461" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net461" />
</packages>